

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .todo-list {
    text-align: center;
    color: #333;
  }
  .add{
    width: 2%;
    height: 1%;
    padding: 2px;
  }
  
  #taskId {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  
  #add {
     background-color: #4caf50; 
     color: #fff;
    border: none;
    /* padding: 10px 20px;
    cursor: pointer; */ 
  } 
  
  #add:hover {
    background-color: #45a049;
  }
  
  #lists{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .task {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
   
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e53935;
  }
  